extends ../layouts/main

block about
    .span9
        .hero-unit
            h1 Sony's NewsRoom is a Toy Project built in Node.js and Express.
            p
            p
                | You can see all source codes on this project in the github address below
            p
                a.btn.btn-primary.btn-large(href='https://github.com/sonypark/express-news-app') » https://github.com/sonypark/express-news-app
