script(type='text/javascript', src='/js/bootstrap.min.js')
script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
script(type='text/javascript', src='/js/ckeditor.js')

// in index.hbs
script(src='https://unpkg.com/axios/dist/axios.min.js')
script.
    const updatePostStats = {
        Like  : function (postId) {
            document.querySelector('#likes-count-' + postId).textContent++;
        },
        Unlike: function (postId) {
            document.querySelector('#likes-count-' + postId).textContent--;
        }
    };
    const toggleButtonText = {
        Like  : function (button) {
            button.textContent = "Unlike";
        },
        Unlike: function (button) {
            button.textContent = "Like";
        }
    };
    const actOnPost = function (event) {
        const postId = event.target.dataset.postId;
        const action = event.target.textContent.trim();
        toggleButtonText[action](event.target);
        updatePostStats[action](postId);
        axios.post('/articles/' + postId + '/act', {action: action});
    };
