.well.sidebar-nav
    ul.nav.nav-list
        li.nav-header Field
        li.active
            a(href='articles/Broadcasting&Communication') Broadcasting / Communication
        li
            a(href='#') Internet
        li
            a(href='#') Game
        li
            a(href='#') Computing
        li
            a(href='#') Home / Mobile
        li.nav-header Press
        li
            a(href='#') Bloter
        li
            a(href='#') ZDNet
        li
            a(href='#') Digital Daily
        li
            a(href='#') Digital Times