.well.sidebar-nav
    ul.nav.nav-list
        li.nav-header Field
        // 현재 보는 페이지 li active 로 만들기
        li
            a(href='/articles/Broadcasting&Communication') Broadcasting / Communication
        li
            a(href='/articles/Internet') Internet
        li
            a(href='/articles/Game') Game
        li
            a(href='/articles/Computing') Computing
        li
            a(href='/articles/Home&Mobile') Home / Mobile
        li.nav-header Press
        li
            a(href='#') Bloter
        li
            a(href='#') ZDNet
        li
            a(href='#') Digital Daily
        li
            a(href='#') Digital Times