doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title Sony's NewsRoom
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content='')
        meta(name='author', content='')
        link(href='/css/bootstrap.css', rel='stylesheet')
        style(type='text/css').
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
            .sidebar-nav {
                padding: 9px 0;
            }
        link(href='/css/bootstrap-responsive.css', rel='stylesheet')
        link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/ico/apple-touch-icon-144-precomposed.png')
        link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/ico/apple-touch-icon-114-precomposed.png')
        link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/ico/apple-touch-icon-72-precomposed.png')
        link(rel='apple-touch-icon-precomposed', href='/ico/apple-touch-icon-57-precomposed.png')
        link(rel='shortcut icon', href='/ico/favicon.png')

        // CK Editor
        script(src='https://cdn.ckeditor.com/4.12.1/standard/ckeditor.js')

    body
        include ../partials/navar
        .container-fluid
            .row-fluid
                .span3
                    include ../partials/sidebar
                block index
                block index-article
                block show-articles
                block add-articles
                block edit-articles
            hr
            footer
                include ../partials/sticky-footer
    include ../partials/scripts
