.navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
        .container-fluid
            a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.brand(href='#') Sony's NewsRoom
            .nav-collapse.collapse
                p.navbar-text.pull-right
                    a.navbar-link(href='/signin') Sign in
                    | Logged in as
                    a.navbar-link(href='#') Username
                ul.nav
                    li.active
                        a(href='#') Home
                    li
                        a(href='#about') About
                    li
                        a(href='#contact') Contact