#image-upload-form(uk-modal='')
  form.uk-modal-dialog.uk-modal-body.uk-margin-auto-vertical(action='/user/profile', method='POST', enctype='multipart/form-data')
    button.uk-modal-close-default(type='button' uk-close='' style='left:unset;')
    .uk-margin
        input#img(type='file', name='profileimg', accept='image/*')
    #image-upload-btn.uk-margin
      button.uk-button.uk-button-primary.uk-width.uk-width-1-1 업로드