div.uk-width-2-5
  div(uk-scrollspy='cls: uk-animation-slide-left; repeat: false')
    img.list-img(src='image/1.jpg' uk-img)
    .overlay-primary.uk-position-cover
    .uk-overlay.uk-light.uk-position-bottom
      h3(style='margin-bottom: 5px !important') Left
      .list-user-info.uk-flex.uk-flex-middle
        img.list-user-img(src='/image/avatar.png')
        .white-font(style='display: inline-block; margin-left: 10px;')
          p(style='margin: 0; font-size: 0.9em') cocahack
          p(style='margin: 0; font-size: 0.7em') July. 26
div.uk-width-3-5
  div(uk-scrollspy='cls: uk-animation-slide-right; repeat: false')
    img.list-img(src='image/2.jpg' uk-img)
    .overlay-primary.uk-position-cover
    .uk-overlay.uk-light.uk-position-bottom
      h3(style='margin-bottom: 5px !important') Right
      .list-user-info.uk-flex.uk-flex-middle
        img.list-user-img(src='/image/avatar.png')
        .white-font(style='display: inline-block; margin-left: 10px;')
          p(style='margin: 0; font-size: 0.9em') cocahack
          p(style='margin: 0; font-size: 0.7em') July. 26