doctype html
html
  include components/head.pug
  body
    include components/header.pug
    .container
      block article

      div= user
    if !user
      include components/signinform.pug
    if user
      include components/imageuploadform.pug

    include scripts/vendor.pug
    script(type='module' src='/js/auth.js')
    if flashMessage != ''
      script.
        UIkit.notification('#{flashMessage}', {status: 'danger'});
