extends ./layout.pug
block title
    title= _title
block content
    style
        include ../public/css/index.css
    section(id="index_main_section")
        section(id="category_section")
        section(id="top20_section")
        section(id="post_section")