doctype html
html(lang="ko")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        style
            include ../public/css/layout.css
        block title
    body
        header
            section(id="header_main_section")
                h1(id="header_title") Today's News
                if (user)
                    input(type="button" class="header_button" id="user_info" value=user.nickname onclick="execute('user')")
                    input(type="button" class="header_button" value="Log-out" onclick="execute('logout')")
                else
                    input(type="button" class="header_button" value="Sign-up" onclick="execute('signup')")
                    input(type="button" class="header_button" value="Log-in" onclick="execute('login')")
            script
                include ../public/js/header.js
        block content
        footer 
            section(id="footer_section")
                h4(id="footer_description") Copyright Hyodol. All right reserved.