extends layout

block content
  .login-page
    .form
      form.login-form
        input(type="text", placeholder="e-mail")
        input(type="password", placeholder="password")
        button(type="submit") LOGIN
        p.message ID가 없으신가요? 
          a(href="/register") 회 원 가 입 
  