extends layout

block content
  .register-page
    .form
      form.register-form(action='/auth/register', method='post')
        input#email(type="email" name="email", placeholder="email" required autofocus)
        input#password(type="password" name="password" placeholder="password" required)
        input#password1(type='password' placeholder="password" required)
        input#nickname(type="text", name="nickname" placeholder="nickname" required)
        label 일반회원
          input(type="radio", name="userType", value="reader" checked="checked") 
        label 기자
          input(type="radio", name="userType", value="writer")
        if registerError
          .error-message= registerError 
        button#register-btn(type="submit") SINGUP
        p.message ID가 이미 있으신가요? 
          a(href="/login") 로 그 인
      