body {
    overflow: hidden;
}

#error_main {
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

#error_content {
    border-radius: 2rem;
    margin-bottom: 5rem;
    margin-top: 5rem;
    height: 40rem;
    width: 50%;
}

#error_image {
    background-image: url('../img/error.png');
    background-position: center;
    background-size: inherit;
    width: 100%;
    height: 90%;
}

#error_text {
    text-align: center;
    width: 100%;
    height: 10%;
}

#error_ {
    color: #525c6d;
    padding-top: 3rem;
    font-size: 35px;
}