extends ../layouts/main

block edit-articles
    .container
        h1 Edit Story
        .row
            form.col.s12(action='/articles/'+article.id+'?_method=PUT', method='post')
                input(type='hidden', name='_method', value='PUT')
                .row
                    .input-field
                        h3(style='display: inline-block;') Title:
                        input(type='text', name='title' value= article.title)
                    .input-field
                        h3(style='display: inline-block;') Field:
                        select(name='field')
                            option(value='Broadcasting&Communication', selected='') Broadcasting / Communication
                            option(value='Internet') Internet
                            option(value='Game') Game
                            option(value='Computing') Computing
                            option(value='Home&Mobile') Home / Mobile
                    .input-field
                        h3(style='display: inline-block;') Image:
                        input(type='text', name='image' value= article.image)
                    .input-field
                        h4 Write Article Contents
                        textarea(name='body') #{article.body}
                    input.btn(type='submit', value='Save')




