extends ../layouts/main

block index-article
    .span9
        .hero-unit
            h1 Welcome, Sony's NewsRoom!
            p
                | Trusted, and Targeted News Can Make Your Day.
            p
                a.btn.btn-primary.btn-large Learn more »
        .grid-container
            each value in articles.reverse()
                .div
                    h2= value.title
                    p
                        a.btn(href='/articles/show/' + value.id) View details »
